@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.season{
    display: flex;
    box-sizing: border-box;
}

.nsitem{
    width: 33.33vw;
    height: 500px;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nstitle{
    font-weight: 800;
    font-size: 50px;
}

.nstitlesm{
    font-size: 1.4rem;
    font-weight: 800;
}
